@using DataAccessLayer.Entities
@model Spare
@{
    ViewData["Title"] = "WAuto | CREATE SPARE";
}

<a asp-controller="Spare" asp-action="Index">Cancel</a>

@using (Html.BeginForm("Create", "Spare", FormMethod.Post))
{
    <label>Spare part name:</label>
    <br />
    @Html.TextBoxFor(m => m.Name)
    <br />

    <button type="submit">Create</button>
}