@{
    ViewData["Title"] = "WAuto | CREATE SPARE";
}

<form method="post">
    <label>Spare part name:</label>
    <input type="text" name="name" autofocus/>
    <button type="submit" value="Create">Create</button>
</form>