@using DataAccessLayer.Entities
@model Spare
@{
    ViewData["Title"] = "WAuto | UPDATE SPARE";
}

<a asp-controller="Spare" asp-action="Index">Cancel</a>

@using (Html.BeginForm("Update", "Spare", FormMethod.Post))
{
    @Html.LabelFor(
        m => m.SpareId,
        new { @hidden = "hidden" }
    )
    @Html.TextBoxFor(
        m => m.SpareId,
        new { @readonly = "readonly", @hidden = "hidden" }
    )
    <label>Spare part name:</label>
    <br />
    @Html.TextBoxFor(m => m.Name)
    <br />

    <button type="submit">Update</button>
}