@using DataAccessLayer.Entities
@model VehicleType
@{
    ViewData["Title"] = "WAuto | UPDATE VEHICLE TYPE";
}

@using (Html.BeginForm("Update", "VehicleType", FormMethod.Post))
{
    @Html.LabelFor(
        m => m.VehicleTypeId,
        new { @hidden = "hidden" }
    )
    @Html.TextBoxFor(
        m => m.VehicleTypeId,
        new { @readonly = "readonly", @hidden = "hidden" }
    )
    <label>Vehicle type name:</label>
    <br />
    @Html.TextBoxFor(m => m.TypeName)
    <br />
    <label>Vehicle type tax coefficient:</label>
    <br />
    @Html.TextBoxFor(m => m.TaxCoeff)
    <br />

    <button type="submit">Update</button>
}