@using DataAccessLayer.Entities
@model OrderElement
@{
    ViewData["Title"] = "WAuto | CREATE ORDER ELEMENT";
}

@using (Html.BeginForm("CreateOrderElement", "OrderElement", FormMethod.Post))
{
    @Html.LabelFor(
        m => m.OrderId,
        new { @hidden = "hidden" }
    )
    @Html.TextBoxFor(
        m => m.OrderId,
        new { @readonly = "readonly", @hidden = "hidden" }
    )
    <label>Spare</label>
    <br />
    @Html.DropDownListFor(
        m => m.SpareId,
        ViewBag.Spares as IEnumerable<SelectListItem>
    )
    <br />
    <label>Quantity</label>
    <br />
    @Html.EditorFor(m => m.SpareQuantity)
    <br />

    <button type="submit">Create</button>
}